{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Home Page</h1>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Location</th>
                        <th>Typeofservice</th>
                        <th>Last visit</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.fullName }}</a></td>
                            <td>{{ client.location }}</td>
                            <td>{{ client.typeOfService }}</td>
                            <td>{{ client.lastVisit|date('F j, Y, g:i a') }}</td>
                            <td>{{ client.phoneNumber }}</td>
                            <td>
                                <a href="{{ path('client_show', { 'id': client.id }) }}" class="btn btn-primary">Show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div><!-- /.container -->

{% endblock %}

{% block stylesheets %}
{% endblock %}
