{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Clients list</h1>
                <a href="{{ path('client_new') }}" class="btn btn-primary">Create a new client</a>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Full Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Location</th>
                        <th>Typeofservice</th>
                        <th>Last visit</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                        <tr>
                            <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.id }}</a></td>
                            <td>{{ client.fullName }}</td>
                            <td>{{ client.age }}</td>
                            <td>{{ client.gender }}</td>
                            <td>{{ client.location }}</td>
                            <td>{{ client.typeOfService }}</td>
                            <td>{{ client.lastVisit|date('F j, Y, g:i a') }}</td>
                            <td>{{ client.phoneNumber }}</td>
                            <td>
                                <a href="{{ path('client_show', { 'id': client.id }) }}" class="btn btn-primary">Show</a>
                                <a href="{{ path('client_edit', { 'id': client.id }) }}" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div><!-- /.container -->


{% endblock %}
